CELEBIX_NEXT_BUILD_CPUS=3
STORE_SLUG=test1
NEXT_PUBLIC_SITE_URL=https://test1.46.225.183.57.sslip.io
NEXT_PUBLIC_ADMIN_URL=https://admin.test1.46.225.183.57.sslip.io
NEXT_PUBLIC_STORE_DOMAIN=test1.46.225.183.57.sslip.io
NEXT_PUBLIC_ADMIN_DOMAIN=admin.test1.46.225.183.57.sslip.io
NEXT_PUBLIC_STORE_NAME=test1
NEXT_PUBLIC_STORE_TAGLINE=test1 icin ortak Celebix commerce kurulumu
NEXT_PUBLIC_STORE_DESCRIPTION=test1 icin ortak Celebix storefront temasi.
NEXT_PUBLIC_STORE_SUPPORT_EMAIL=destek@test1.46.225.183.57.sslip.io
NEXT_PUBLIC_STORE_SUPPORT_PHONE=+90 532 000 00 00
NEXT_PUBLIC_STORE_LOGO=/placeholder-storefront-logo.svg
NEXT_PUBLIC_STORE_INSTAGRAM=https://instagram.com/test1
NEXT_PUBLIC_STORE_FACEBOOK=https://facebook.com/test1
NEXT_PUBLIC_STORE_TWITTER=https://x.com/test1
NEXT_PUBLIC_FREE_SHIPPING_TEXT=500 TL uzeri siparislerde ucretsiz kargo
NEXT_PUBLIC_IMAGE_TRANSFORMATION_URL=https://images.celebix.co
NEXT_PUBLIC_SUPABASE_URL=https://supabasekong-test1.46.225.183.57.sslip.io
NEXT_PUBLIC_SUPABASE_ANON_KEY=configure-per-store
SUPABASE_SERVICE_ROLE_KEY=configure-per-store-service-role
REDIS_URL=redis://your-coolify-redis:6379
REDIS_PREFIX=celebix
CLOUDFLARE_ACCOUNT_ID=your-r2-account-id
R2_ACCESS_KEY_ID=your-r2-access-key
R2_SECRET_ACCESS_KEY=your-r2-secret
R2_BUCKET_NAME=test1-assets
R2_PUBLIC_URL=https://cdn.test1.46.225.183.57.sslip.io
