STORE_SLUG=test1
CELEBIX_NEXT_BUILD_CPUS=2

# Admin deployment blueprint
# APP_NAME=test1 admin
# COOLIFY_PROJECT_NAME=test1
# APP_RUNTIME_URL=https://admin.test1.46.225.183.57.sslip.io
# INSTALL_COMMAND=npm ci --include=optional --no-audit --no-fund
# BUILD_COMMAND=npm run build --workspace @celebix/admin
# START_COMMAND=npm run start --workspace @celebix/admin

NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
# Opsiyonel migration fallback
# SUPABASE_LEGACY_URL=https://your-old-project.supabase.co
# SUPABASE_LEGACY_ANON_KEY=your-old-anon-key

NEXT_PUBLIC_STORE_DOMAIN=test1.46.225.183.57.sslip.io
NEXT_PUBLIC_ADMIN_DOMAIN=admin.test1.46.225.183.57.sslip.io
NEXT_PUBLIC_SITE_URL=https://test1.46.225.183.57.sslip.io
NEXT_PUBLIC_ADMIN_URL=https://admin.test1.46.225.183.57.sslip.io
NEXT_PUBLIC_IMAGE_TRANSFORMATION_URL=https://images.celebix.co

REDIS_URL=redis://your-coolify-redis:6379
REDIS_PREFIX=celebix

CLOUDFLARE_ACCOUNT_ID=your-r2-account-id
R2_ACCESS_KEY_ID=your-r2-access-key
R2_SECRET_ACCESS_KEY=your-r2-secret
R2_BUCKET_NAME=your-r2-bucket
R2_PUBLIC_URL=https://cdn.test1.46.225.183.57.sslip.io
