STORE_SLUG=deri-kordon

# Admin deployment blueprint
# APP_NAME=deri-kordon-admin
# APP_RUNTIME_URL=https://panel.celebix.co
# INSTALL_COMMAND=npm ci --include=optional --no-audit --no-fund
# BUILD_COMMAND=npm run build --workspace @celebix/admin
# START_COMMAND=npm run start --workspace @celebix/admin

NEXT_PUBLIC_SUPABASE_URL=https://supabasekong-derycraft.46.225.183.57.sslip.io
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
# Opsiyonel migration fallback
# SUPABASE_LEGACY_URL=https://xtmbphiyoeqnuajstnut.supabase.co
# SUPABASE_LEGACY_ANON_KEY=your-old-anon-key

NEXT_PUBLIC_SITE_URL=https://derycraft.com
NEXT_PUBLIC_ADMIN_URL=https://panel.celebix.co
NEXT_PUBLIC_IMAGE_TRANSFORMATION_URL=https://images.celebix.co

REDIS_URL=redis://your-coolify-redis:6379
REDIS_PREFIX=celebix

CLOUDFLARE_ACCOUNT_ID=your-r2-account-id
R2_ACCESS_KEY_ID=your-r2-access-key
R2_SECRET_ACCESS_KEY=your-r2-secret
R2_BUCKET_NAME=your-r2-bucket
R2_PUBLIC_URL=https://pub-4a729225991f4b33aa7ab5c294391cec.r2.dev
